# CONNECTED APPS
DISCORD_WEBHOOK_URL=
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_TEST_API_KEY=
BINANCE_TEST_API_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# CONFIG
IS_TELEGRAM_ENABLED=true
IS_DISCORD_ENABLED=false
IS_LOG_ENABLED=false
SCAN_INTERVAL=600000 # 10 minutes

# ORDER SETTINGS
ORDER_LEVERAGE=10
ORDER_QUANTITY=1 # 1USDT
MAX_ORDERS_PER_DAY=20
ORDER_LIMIT_PER_SCAN=3

IS_DEV_MODE=true